body {
      background-color: black;
      color: white;
      font-family: Josefin Sans;
      font-size: 20px;
      display: flex;
    }
      p {
    font-family: Josefin Sans;
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 29px;
      }
    

    h2 {
      font-size: 1.5em;
    }

    ul {
      list-style-type: none;
    }
