body {
      background-color: black;
      color: white;
      font-family: Josefin Sans;
      font-size: 20px;
      display: flex;
    }
      p {
    font-family: Josefin Sans;
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 29px;
    text-align: center;
      }
    

    h2 {
      font-size: 1.5em;
      text-align: center;
    }

    ul {
      list-style-type: none;
    }

   @media only screen and (max-width: 599px) {
           #content {
                 flex: 1;
                 padding: 1.12%
           }
           
   }

   @media only screen and (min-width: 600px) {
          #content {
                flex: 1;
                padding: 3.14%
          }
   }
           
